# Chapter 2: Python Structures
Python data structures: lists, tuples, dictionaries, sets.

## Lists
- A container that can store multiple data sets at the same time
- Written using []
- Compared to arrays in other languages but does more
- Different from arrays in Java and C# because in python, lists can have mixed types (int and str)
- Elements have a finite sequence

In [2]:
shopping = ["bread", "milk", "eggs"]
print(shopping)

['bread', 'milk', 'eggs']

In [3]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

In [5]:
# Nested List, a way to represent 3D data
m = [[1,2,3], [4,5,6]]
print(m)
print(m[1][1])

[[1, 2, 3], [4, 5, 6]]
5

### Activity 6: Nested List to store employee data

In [7]:
employees = [['john mckee', 38, 'sales'], ['lisa crawford', 29, 'marketing'], ['sujan patel', 33, 'HR']]
print(employees)

[['john mckee', 38, 'sales'], ['lisa crawford', 29, 'marketing'], ['sujan patel', 33, 'HR']]

In [9]:
for i in range(len(employees)): # for employee in employees
    print(employees[i])

['john mckee', 38, 'sales']
['lisa crawford', 29, 'marketing']
['sujan patel', 33, 'HR']

In [12]:
# present data in a structured format
for employee in employees:
    print("Name:", employee[0])
    print("Age:", employee[1])
    print("Department:", employee[2])
    print('-' * 20)

Name: john mckee
Age: 38
Department: sales
--------------------
Name: lisa crawford
Age: 29
Department: marketing
--------------------
Name: sujan patel
Age: 33
Department: HR
--------------------

In [10]:
for i in range(len(employees)):
    if employees[i][0].lower() == 'lisa crawford'.lower():
        print(employees[i])
        print("Name:", employees[i][0])
        print("Age:", employees[i][1])
        print("Department:", employees[i][2])

['lisa crawford', 29, 'marketing']
Name: lisa crawford
Age: 29
Department: marketing

In [13]:
# Matrix Operations
X = [[1,2,3],[4,5,6],[7,8,9]]
Y = [[10,11,12],[13,14,15],[16,17,18]]

result = [[0,0,0],
          [0,0,0],
          [0,0,0]]

# result = X + Y
for i in range(len(X)): # iterate through rows
    for j in range(len(X[0])): # iterate through columns
        result[i][j] = X[i][j] + Y[i][j]

print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [22]:
# inserting & adding to a list
shopping = ["bread", "milk", "eggs"]
shopping.append("apple")
print(shopping)
shopping.insert(2, "rice")
print(shopping)

['bread', 'milk', 'eggs', 'apple']
['bread', 'milk', 'rice', 'eggs', 'apple']

## Dictionaries
- keys must be unique
- keys are immutable (can be number, string, tuple)

In [25]:
employee = {
    'name': "Jack Nelson",
    'age': 32,
    'department': "sales"
}

print(employee)

{'name': 'Jack Nelson', 'age': 32, 'department': 'sales'}

In [27]:
'''
Using dictonary to store a movie record
'''

movie = {
    'title': "The Godfather",
    'director': "Francis Ford Coppola",
    'year': 1972,
    'rating': 9.2
}

# access information using the key
print(movie['year'])

# update a dictionary value
movie['rating'] = 75/10
print(movie['rating'])

1972
7.5

### Activity 7: Storing Company Employee Table using List and Dictionary

In [30]:
# make a list named employees containing dictionary objects
employees = [
    {
        'name': 'john mckee',
        'age': 38,
        'department': 'sales'
    },
    {
        'name': 'lisa crawford',
        'age': 29,
        'department': 'marketing'
    },
    {
        'name': 'sujan patel',
        'age': 33,
        'department': 'HR'
    }
]

# print variable
print(employees)

[{'name': 'john mckee', 'age': 38, 'department': 'sales'}, {'name': 'lisa crawford', 'age': 29, 'department': 'marketing'}, {'name': 'sujan patel', 'age': 33, 'department': 'HR'}]

In [31]:
# print in presentable form
for employee in employees:
    print("Name: ", employee['name'])
    print("Age: ", employee['age'])
    print("Department: ", employee['department'])
    print("-"*20)

Name:  john mckee
Age:  38
Department:  sales
--------------------
Name:  lisa crawford
Age:  29
Department:  marketing
--------------------
Name:  sujan patel
Age:  33
Department:  HR
--------------------

In [33]:
# print only sujan's info
for employee in employees:
    if employee['name'].lower()=='sujan patel'.lower():
        print("Name: ", employee['name'])
        print("Age: ", employee['age'])
        print("Department: ", employee['department'])

Name:  sujan patel
Age:  33
Department:  HR

In [38]:
# Zipping and unzipping dictionaries
'''
The zip() method maps a similar index of multiple containers so they can be used as just a single object
'''
items = ["apple", "orange", "banana"]
quantity = [5,3,2]
orders = zip(items, quantity)
print(orders)  # gives a zip object

<zip object at 0x7fe19ecafbc0>

In [41]:
orders = zip(items, quantity)
print(list(orders)) # turns into a list

[('apple', 5), ('orange', 3), ('banana', 2)]

In [42]:
orders = zip(items, quantity)
print(tuple(orders)) # turns into a tuple

(('apple', 5), ('orange', 3), ('banana', 2))

In [43]:
orders = zip(items, quantity)
print(dict(orders)) # turns into a dictionary

{'apple': 5, 'orange': 3, 'banana': 2}

In [46]:
'''
Accessing a ductionary using dictionary methods
'''
orders = {'apple': 5, 'orange': 3, 'banana': 2}
print(orders.values()) # returns an iterable object
print(list(orders.values()))
print(list(orders.keys()))

dict_values([5, 3, 2])
[5, 3, 2]
['apple', 'orange', 'banana']

In [47]:
# convert to list of tuples to iterate in dictionary
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

## Tuples
- immutable: values cannot be changes after initialization
- values will be the same throughout the runtime of the program

In [48]:
t = ("bread", "milk", "eggs")
print(len(t))

3

In [49]:
# tuples are immutable so you cannot append
t.append("apple")

AttributeError: 'tuple' object has no attribute 'append'

In [50]:
t[2] = "apple"

TypeError: 'tuple' object does not support item assignment

In [51]:
# the only way you can add to a tuple is by concatenation
print(t + ("apple", "orange"))

('bread', 'milk', 'eggs', 'apple', 'orange')

In [52]:
t_mixed = "apple", 1, True
print(t_mixed)

('apple', 1, True)

## Sets
- unordered collection of unique, mutable/immutable objects
- used to prevent duplicate values

In [2]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [3]:
s4 = {"apple", "orange", "banana"}
print(s4)

'''
Python store set elements in optimized way so that it can apply operations with lesser runtime complexity 
i.e. less number of iterations will required in Union/Intersection by Python internally.

'''

{'apple', 'orange', 'banana'}

'\nPython store set elements in optimized way so that it can apply operations with lesser runtime complexity \ni.e. less number of iterations will required in Union/Intersection by Python internally.\n\n'

In [4]:
# mutable set
s4.add("pineapple")
print(s4)

{'pineapple', 'apple', 'orange', 'banana'}

In [5]:
# Set Operations
s5 = {1,2,3,4}
s6 = {3,4,5,6}

# union
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [6]:
# intersection
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [7]:
# difference
'''
the difference between set A and B is the set of all elements of A
that are not present in B
'''
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [8]:
# issubset method : general subset
print(s5 <= s6)
print(s5.issubset(s6))
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [9]:
# proper/formal ssubset
''' a proper subset is a subset where the sets cannot be identical'''
print(s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10) # proper subset cannot be identical
print(s9 < s9) # a set cannot be a proper subset of itself

True
False
False

In [10]:
# superset
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False

## Summary
- list: store multiple objects, retain a sequence
- dictionary: store uniqye ket-value pair mappings
- tuples: immutable
- sets: store unique elements